<profile-left></profile-left>

<div class="col-md-11" style="padding: 1em;height:5%;display:table-cell;vertical-align:middle;font-weight:bolder;background: transparent;color: #fff;z-index:99;">
    <ul class="uk-breadcrumb">
        <li><a href="/dashboard">DevOps</a></li>
        <li><a href="/profile">个人中心</a></li>
        <li><span>个人信息</span></li>
    </ul>
</div>
<div class="col-md-11" style="padding: 1em;background: transparent;height: 90%;">
    <div class="col-md-12" style="background: #fff;height: 100%;border-radius: 6px;">
        <div class="col-md-12" style="margin-top:2em;margin-bottom: 2em;">
            <ul class="uk-tab" uk-tab>
                <li class="uk-active">
                    <a href="#container"> 个人中心 </a>
                </li>
            </ul>
            <div class="col-md-12" style="padding: 1em;">

                <article class="uk-article">
                    <h1 class="uk-article-title" style="color:#999;" id="profile_user">devops</h1>
                    <h2 id="profile_email" style="color:#999;padding: 0;margin: 0;">yangxingfeng@jd.com</h2>
                    <h2 id="profile_phone" style="color:#999;padding: 0;margin: 0;">15122372903</h2>

                </article>


                <button (click)="logout()" class="uk-button uk-button-primary" style="margin-top:2em;">退出登录</button>&nbsp;

            </div>
        </div>
    </div>
</div>


<div class="col-md-11" style="padding: 1em;background: transparent;height:5%;text-align: center;">
    <span style="color:#aaa;">CENOSTACK.COM 构建敏捷团队</span>&nbsp;&nbsp;
    <a href="Mailto:nerosoft@outlook.com" style="color:#eee;">@CENOSTACK</a>&nbsp;&nbsp;
    <span style="color:#aaa;">V1.7.11 Alpha</span>
    <span>
    <span class="fa fa-github fa-1x" style="color:#aaa;margin-left: 1em;"></span>
    <span class="fa fa-qq fa-1x" style="color:#aaa;margin-left: 1em;"></span>
    <span class="fa fa-weixin fa-1x" style="color:#aaa;margin-left: 1em;"></span>
    <span class="fa fa-weibo fa-1x" style="color:#aaa;margin-left: 1em;"></span>
    </span>
</div>