<app-chatlist></app-chatlist>
<div class="col-md-11" style="padding: 1em;height:5%;font-weight:bolder;background: transparent;color: #fff;z-index:99;display:table-cell;vertical-align:middle;">
    <ul class="uk-breadcrumb">
        <li><a href="#">CenoStack</a></li>
        <li><a href="#">ChatBox</a></li>

    </ul>
</div>
<div class="col-md-11" style="background: transparent;padding:0;height: 90%;width: 90%;overflow-y: hidden;overflow-x: scroll;">
    <div class="col-md-3" style="background: transparent;height: 100%;padding:0;padding-top:1em;padding-bottom: 1em;">
        <div class="col-md-12" style="background:rgb(46, 49, 55);height:100%;padding:1em;border-top-left-radius: 6px;border-bottom-left-radius: 6px;border-right: solid 1px #ccc;">
            <!-- <div class="uk-margin" class="col-md-12">
                <input class="uk-input" type="text" style="border-radius:6px;" placeholder="输入内容查找">
            </div> -->

            <ul uk-tab>
                <li class="uk-active"><a href="#"><span uk-icon="comments"></span></a></li>
                <li style="border-bottom: none;">
                    <a href="#" style="border-bottom:none;"> <span uk-icon="users"></span></a>
                </li>
                <li>
                    <a href="#"> <span uk-icon="hashtag"></span></a>
                </li>

                <li>
                    <a href="#"> <span uk-icon="star"></span></a>
                </li>
                <li>
                    <a href="#"> <span uk-icon="plus-circle"></span></a>
                </li>

            </ul>
            <div class="col-md-12" style="height:93%;text-align:center;padding:0;margin:0;overflow: auto;">

                <div class="uk-margin" style="">
                    <input class="uk-input" type="text" placeholder="请输入搜索内容" style="border-radius:6px;background: rgb(39, 41, 46);border:solid 1px rgb(51, 52, 54);">
                </div>

                <div class="col-md-12" style="text-align:left;padding:0em;margin:0;margin-bottom:0.5em;padding-bottom:0.5em;border-bottom:solid 1px rgb(43,46,52);">
                    <a href="#container"><span style="background:green;margin-right:0.5em;height:0.5em;width:0.5em;border-radius: 10em;">&nbsp;&nbsp;</span><img src="/assets/chatbox/avatar/avatar.png" style="height:3em;width:3em;padding:0;margin:0;border-radius:6px;">&nbsp;<span style="color:#fff;font-size: 1.5em;">neroyang</span> </a>
                </div>

                <div class="col-md-12" style="text-align:left;padding:0em;margin:0;margin-bottom:0.5em;padding-bottom:0.5em;border-bottom:solid 1px rgb(43,46,52);">
                    <a href="#container"><span style="background:gray;margin-right:0.5em;height:0.5em;width:0.5em;border-radius: 10em;">&nbsp;&nbsp;</span><img src="/assets/chatbox/avatar/avatar.png" style="height:3em;width:3em;padding:0;margin:0;border-radius:6px;">&nbsp;<span style="color:#fff;font-size: 1.5em;">Boss</span> </a>
                </div>




            </div>
        </div>
    </div>
    <div class="col-md-6" style="background: transparent;height: 100%;padding:0;padding-top:1em;padding-bottom: 1em;">
        <div class="col-md-12" style="background:rgb(226, 228, 230);height:100%;padding:1em;border-right: solid 1px #ccc;">
            <ul class="uk-tab" uk-tab>

                <a href="#container"><img src="/assets/chatbox/avatar/avatar.png" style="height:2.0em;width:2.0em;padding:0;margin:0;border-radius:6px;">&nbsp;<span style="color:#333;font-size: 1.5em;">neroyang</span> </a>

            </ul>
            <div class="col-md-12" style="height:92%;text-align:center;padding:0;margin:0;overflow: auto;border-top: solid 1px #ccc;">

                <div class="col-md-12" style="height:87%;text-align:center;padding:0;margin:0;overflow: auto;border-radius: 6px;">
                    <div class="col-md-12" style="text-align:left;padding:0.5em;margin:0;margin-bottom:0;border-radius: 6px;">
                        <img src="/assets/chatbox/avatar/avatar.png" style="height:2em;width:2em;padding:0;margin:0;border-radius:6px;">
                        <span style="color:#333;font-size: 1.2em;font-weight: bolder;margin-left:0.5em;">Boss</span> <span style="color:#999;font-size: 1em;margin-left:0.5em;">12:00 PM</span>
                        <div style="padding:0;margin:0;padding-left:2.5em;">
                            <p style="padding:0;margin:0;">这个app什么时候上线?</p>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align:right;padding:0.5em;margin:0;margin-bottom:0;border-radius: 6px;">
                        <span style="color:#999;font-size: 1em;margin-right:0.5em;">12:00 PM</span>
                        <span style="color:#333;font-size: 1.2em;font-weight: bolder;margin-right:0.5em;">neroyang</span>
                        <img src="/assets/chatbox/avatar/avatar.png" style="height:2em;width:2em;padding:0;margin:0;border-radius:6px;">

                        <div style="padding:0;margin:0;padding-right:2.5em;">
                            <p style="padding:0;margin:0;">快了快了?</p>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align:right;padding:0.5em;margin:0;margin-bottom:0;border-radius: 6px;">
                        <span style="color:#999;font-size: 1em;margin-right:0.5em;">12:00 PM</span>
                        <span style="color:#333;font-size: 1.2em;font-weight: bolder;margin-right:0.5em;">neroyang</span>
                        <img src="/assets/chatbox/avatar/avatar.png" style="height:2em;width:2em;padding:0;margin:0;border-radius:6px;">

                        <div style="padding:0;margin:0;padding-right:2.5em;">
                            <p style="padding:0;margin:0;">如果不跳票的话?</p>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align:right;padding:0.5em;margin:0;margin-bottom:0;border-radius: 6px;">
                        <span style="color:#999;font-size: 1em;margin-right:0.5em;">12:00 PM</span>
                        <span style="color:#333;font-size: 1.2em;font-weight: bolder;margin-right:0.5em;">neroyang</span>
                        <img src="/assets/chatbox/avatar/avatar.png" style="height:2em;width:2em;padding:0;margin:0;border-radius:6px;">

                        <div style="padding:0;margin:0;padding-right:2.5em;">
                            <p style="padding:0;margin:0;">明年?</p>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0.5em;margin:0;margin-bottom:0;border-radius: 6px;">
                        <img src="/assets/chatbox/avatar/avatar.png" style="height:2em;width:2em;padding:0;margin:0;border-radius:6px;">
                        <span style="color:#333;font-size: 1.2em;font-weight: bolder;margin-left:0.5em;">Boss</span> <span style="color:#999;font-size: 1em;margin-left:0.5em;">12:00 PM</span>
                        <div style="padding:0;margin:0;padding-left:2.5em;">
                            <p style="padding:0;margin:0;">什么?明年!!!!你在开玩笑么?</p>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0.5em;margin:0;margin-bottom:0;border-radius: 6px;">
                        <img src="/assets/chatbox/avatar/avatar.png" style="height:2em;width:2em;padding:0;margin:0;border-radius:6px;">
                        <span style="color:#333;font-size: 1.2em;font-weight: bolder;margin-left:0.5em;">Boss</span> <span style="color:#999;font-size: 1em;margin-left:0.5em;">12:00 PM</span>
                        <div style="padding:0;margin:0;padding-left:2.5em;">
                            <p style="padding:0;margin:0;">明年公司就破产了.</p>
                        </div>
                    </div>

                    <div class="col-md-12" style="text-align:left;padding:0.5em;margin:0;margin-bottom:0;border-radius: 6px;">
                        <img src="/assets/chatbox/avatar/avatar.png" style="height:2em;width:2em;padding:0;margin:0;border-radius:6px;">
                        <span style="color:#333;font-size: 1.2em;font-weight: bolder;margin-left:0.5em;">Boss</span> <span style="color:#999;font-size: 1em;margin-left:0.5em;">12:00 PM</span>
                        <div style="padding:0;margin:0;padding-left:2.5em;">
                            <p style="padding:0;margin:0;">给你一个月,开发不出来去找人事结工资..</p>
                        </div>
                    </div>

                    <div class="col-md-12" style="text-align:right;padding:0.5em;margin:0;margin-bottom:0;border-radius: 6px;">
                        <span style="color:#999;font-size: 1em;margin-right:0.5em;">12:00 PM</span>
                        <span style="color:#333;font-size: 1.2em;font-weight: bolder;margin-right:0.5em;">neroyang</span>
                        <img src="/assets/chatbox/avatar/avatar.png" style="height:2em;width:2em;padding:0;margin:0;border-radius:6px;">

                        <div style="padding:0;margin:0;padding-right:2.5em;">
                            <p style="padding:0;margin:0;">老子还不干了呢! 100万,不然删库!!! 两个小时内打我账上.</p>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align:right;padding:0.5em;margin:0;margin-bottom:0;border-radius: 6px;">
                        <span style="color:#999;font-size: 1em;margin-right:0.5em;">12:00 PM</span>
                        <span style="color:#333;font-size: 1.2em;font-weight: bolder;margin-right:0.5em;">neroyang</span>
                        <img src="/assets/chatbox/avatar/avatar.png" style="height:2em;width:2em;padding:0;margin:0;border-radius:6px;">

                        <div style="padding:0;margin:0;padding-right:2.5em;">
                            <p style="padding:0;margin:0;">两个小时,听见没有.</p>
                        </div>
                    </div>

                    <div class="col-md-12" style="text-align:right;padding:0.5em;margin:0;margin-bottom:0;border-radius: 6px;">
                        <span style="color:#999;font-size: 1em;margin-right:0.5em;">12:00 PM</span>
                        <span style="color:#333;font-size: 1.2em;font-weight: bolder;margin-right:0.5em;">neroyang</span>
                        <img src="/assets/chatbox/avatar/avatar.png" style="height:2em;width:2em;padding:0;margin:0;border-radius:6px;">

                        <div style="padding:0;margin:0;padding-right:2.5em;">
                            <p style="padding:0;margin:0;">一分都不能少.</p>
                        </div>
                    </div>

                    <div class="col-md-12" style="text-align:right;padding:0.5em;margin:0;margin-bottom:0;border-radius: 6px;">
                        <span style="color:#999;font-size: 1em;margin-right:0.5em;">12:00 PM</span>
                        <span style="color:#333;font-size: 1.2em;font-weight: bolder;margin-right:0.5em;">neroyang</span>
                        <img src="/assets/chatbox/avatar/avatar.png" style="height:2em;width:2em;padding:0;margin:0;border-radius:6px;">

                        <div style="padding:0;margin:0;padding-right:2.5em;">
                            <p style="padding:0;margin:0;">两个小时,听见没有.</p>
                        </div>
                    </div>

                    <div class="col-md-12" style="text-align:left;padding:0.5em;margin:0;margin-bottom:0;border-radius: 6px;">
                        <img src="/assets/chatbox/avatar/avatar.png" style="height:2em;width:2em;padding:0;margin:0;border-radius:6px;">
                        <span style="color:#333;font-size: 1.2em;font-weight: bolder;margin-left:0.5em;">Boss</span> <span style="color:#999;font-size: 1em;margin-left:0.5em;">12:00 PM</span>
                        <div style="padding:0;margin:0;padding-left:2.5em;">
                            <p style="padding:0;margin:0;">去你妈的</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="height:13%;text-align:left;padding:0;margin:0;overflow: auto;">
                    <div class="col-md-12" style="height:25%;text-align:left;padding:0em;padding-left:1em;margin:0;overflow: auto;text-align: left;margin-top:1em;margin-bottom: 1em;">
                        <span uk-icon="happy"></span>&nbsp;&nbsp;
                        <span uk-icon="image"></span>&nbsp;&nbsp;
                        <span uk-icon="file"></span>&nbsp;&nbsp;
                        <span uk-icon="location"></span>&nbsp;&nbsp;
                        <span uk-icon="receiver"></span>&nbsp;&nbsp;
                        <span uk-icon="camera"></span>&nbsp;&nbsp;
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary" style="margin-top:0;border-top-left-radius:6px;border-bottom-left-radius:6px;width:10%;"><span uk-icon="plus"></span></button>
                        <input class="uk-input" type="text" placeholder="输入消息内容" style="width:80%;border:solid 1px #fff;">
                        <button class="uk-button uk-button-primary" style="margin-top:0;border-top-right-radius:6px;border-bottom-right-radius:6px;width:10%;"><span uk-icon="happy"></span></button>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="col-md-3" style="background: transparent;height: 100%;padding:0;padding-top:1em;padding-bottom: 1em;">
        <div class="col-md-12" style="background:rgb(226, 228, 230);height:100%;padding:1em;border-top-right-radius: 6px;border-bottom-right-radius: 6px;">
            <ul class="uk-tab" uk-tab>

            </ul>
            <div class="col-md-12" style="height:90%;text-align:center;padding:0;margin:0;overflow: auto;">

            </div>

        </div>
    </div>



</div>
<div class="col-md-11" style="padding: 1em;background: transparent;height:5%;text-align: center;">
    <span style="color:#aaa;">CENOSTACK.COM 构建敏捷团队</span>&nbsp;&nbsp;
    <a href="Mailto:nerosoft@outlook.com" style="color:#eee;">@CENOSTACK</a>&nbsp;&nbsp;
    <span style="color:#aaa;">V1.7.11 Alpha</span>
    <span>
    <span class="fa fa-github fa-1x" style="color:#aaa;margin-left: 1em;"></span>
    <span class="fa fa-qq fa-1x" style="color:#aaa;margin-left: 1em;"></span>
    <span class="fa fa-weixin fa-1x" style="color:#aaa;margin-left: 1em;"></span>
    <span class="fa fa-weibo fa-1x" style="color:#aaa;margin-left: 1em;"></span>
    </span>
</div>