#header-div{
    background: transparent;
    color: #000;margin:0;
    padding: 0;
    height: 5%;
    line-height: 5%;
}

@-webkit-keyframes logo {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes logo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#logo{
    color:#ce592b;
    font-size: 2em;
    height: 100%;
    display:table-cell;
    vertical-align:middle;
    /* -webkit-animation: logo 2s linear 2s 5 alternate; */
    /* animation: logo 2s linear infinite; */
}