<app-left></app-left>
<div class="col-md-11" style="padding: 1em;height:5%;font-weight:bolder;background: transparent;color: #fff;z-index:99;display:table-cell;vertical-align:middle;">
    <ul class="uk-breadcrumb">
        <li><a href="#">DevOps</a></li>
        <li><a href="#">项目</a></li>
        <li><a href="#">devops</a></li>
        <li><span>看板</span></li>
    </ul>
</div>
<div class="col-md-11" style="background: transparent;padding:0;height: 90%;width: 90%;overflow-y: hidden;overflow-x: scroll;">
    <div class="col-md-3" style="background: transparent;height: 100%;padding:1em;padding-right:0.5em;">
        <div class="col-md-12" style="background:rgb(226, 228, 230);height:100%;padding:1em;border-radius: 6px;">
            <ul class="uk-tab" uk-tab>
                <li class="uk-active">
                    <a href="#container"> 还没做 </a>
                </li>
                <li class="uk-li">
                    <a href="#container"> <span class="fa fa-ellipsis-h"></span> </a>
                </li>
            </ul>
            <div class="col-md-12" dragula="DRAGULA_FACTS" style="height:90%;text-align:center;padding:0;margin:0;overflow: auto;">

                <div draggable="true" class="col-md-12 kanban-card-item">
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;">
                        <span class="cc-span cc-span-normal">常规</span>
                        <span class="fa fa-ellipsis-h" style="float:right;color:#999;"></span>
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;padding-top:0.5em;">
                        项目列表与新项目创建
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;padding-top: 0.5em;">
                        <span class="cc-span cc-span-git">2018-09-09 18:00</span>

                        <span class="cc-span cc-span-minor">devops</span>
                    </div>
                </div>
                <div draggable="true" class="col-md-12 kanban-card-item">
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;">
                        <span class="cc-span cc-span-normal">常规</span>
                        <span class="fa fa-ellipsis-h" style="float:right;color:#999;"></span>
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;padding-top:0.5em;">
                        组织架构,用户角色与权限
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;padding-top: 0.5em;">
                        <span class="cc-span cc-span-git">2018-09-09 18:00</span>

                        <span class="cc-span cc-span-minor">devops</span>
                    </div>
                </div>
                <div draggable="true" class="col-md-12 kanban-card-item">
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;">
                        <span class="cc-span cc-span-normal">常规</span>
                        <span class="fa fa-ellipsis-h" style="float:right;color:#999;"></span>
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;padding-top:0.5em;">
                        jmx监控
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;padding-top: 0.5em;">
                        <span class="cc-span cc-span-git">2018-09-09 18:00</span>
                        <span class="cc-span cc-span-minor">devops</span>
                    </div>
                </div>

            </div>
            <div class="col-md-12" style="font-weight: bolder;margin:0;color:#999;">
                <span class="fa fa-plus-square-o">&nbsp;添加新条目</span>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="background: transparent;height: 100%;padding:1em;padding-left:0.5em;padding-right:0.5em;">
        <div class="col-md-12" style="background:rgb(226, 228, 230);height:100%;padding:1em;border-radius: 6px;">
            <ul class="uk-tab" uk-tab>
                <li class="uk-active">
                    <a href="#container"> 正在做 </a>
                </li>
                <li class="uk-li">
                    <a href="#container"> <span class="fa fa-ellipsis-h"></span> </a>
                </li>
            </ul>
            <div dragula="DRAGULA_FACTS" class="col-md-12" style="height:90%;text-align:center;padding:0;margin:0;overflow: auto;">

                <div draggable="true" class="col-md-12 kanban-card-item">
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;">
                        <span class="cc-span cc-span-git">重要</span>
                        <span class="fa fa-ellipsis-h" style="float:right;color:#999;"></span>
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;padding-top:0.5em;">
                        项目看板
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;padding-top: 0.5em;">
                        <span class="cc-span cc-span-git">2018-09-07 18:00</span>

                        <span class="cc-span cc-span-minor">devops</span>
                    </div>
                </div>
                <div draggable="true" class="col-md-12 kanban-card-item">
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;">
                        <span class="cc-span cc-span-git">重要</span>
                        <span class="fa fa-ellipsis-h" style="float:right;color:#999;"></span>
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;padding-top:0.5em;">
                        nodejs 前端项目自动化部署与pm2管理
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;padding-top: 0.5em;">
                        <span class="cc-span cc-span-stop">2018-09-06 18:00</span>

                        <span class="cc-span cc-span-minor">devops</span>
                    </div>
                </div>


            </div>
            <div class="col-md-12" style="font-weight: bolder;margin:0;color:#999;">
                <span class="fa fa-plus-square-o">&nbsp;添加新条目</span>
            </div>

        </div>
    </div>



    <div class="col-md-3" style="background: transparent;height: 100%;padding:1em;padding-left: 0.5em;">
        <div class="col-md-12" style="background:rgb(226, 228, 230);height:100%;padding:1em;border-radius: 6px;">
            <ul class="uk-tab" uk-tab>
                <li class="uk-active">
                    <a href="#container"> 已完成  </a>
                </li>
                <li class="uk-li">
                    <a href="#container"> <span class="fa fa-ellipsis-h"></span> </a>
                </li>
            </ul>
            <div dragula="DRAGULA_FACTS" class="col-md-12" style="height:90%;text-align:center;padding:0;margin:0;overflow: auto;">
                <div draggable="true" class="col-md-12 kanban-card-item">
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;">
                        <span class="cc-span cc-span-git">重要</span>
                        <span class="fa fa-ellipsis-h" style="float:right;color:#999;"></span>
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;padding-top:0.5em;">
                        Java 服务自动部署
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;padding-top: 0.5em;">
                        <span class="cc-span cc-span-minor">2018-09-06 18:00</span>
                        <span class="cc-span cc-span-minor">devops</span>
                    </div>
                </div>
                <div draggable="true" class="col-md-12 kanban-card-item">
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;">
                        <span class="cc-span cc-span-normal">常规</span>
                        <span class="fa fa-ellipsis-h" style="float:right;color:#999;"></span>
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;padding-top:0.5em;">
                        devops 日志记录
                    </div>
                    <div class="col-md-12" style="text-align:left;padding:0;margin:0;padding-top: 0.5em;">
                        <span class="cc-span cc-span-minor">2018-09-06 18:00</span>
                        <span class="cc-span cc-span-minor">devops</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="font-weight: bolder;margin:0;color:#999;">
                <span class="fa fa-plus-square-o">&nbsp;添加新条目</span>
            </div>
        </div>
    </div>

    <div class="col-md-3" style="background: transparent;height: 100%;padding:1em;padding-left: 0.5em;">
        <div id="kanban-add-new-card" class="uk-placeholder uk-text-center col-md-12">
            <p class="fa fa-plus-square-o" style="display: table-cell;vertical-align: middle;">&nbsp;添加新卡片</p>
        </div>
    </div>



</div>
<div class="col-md-11" style="padding: 1em;background: transparent;height:5%;text-align: center;">
    <span style="color:#aaa;">CENOSTACK.COM 构建敏捷团队</span>&nbsp;&nbsp;
    <a href="Mailto:nerosoft@outlook.com" style="color:#eee;">@CENOSTACK</a>&nbsp;&nbsp;
    <span style="color:#aaa;">V1.7.11 Alpha</span>
    <span>
    <span class="fa fa-github fa-1x" style="color:#aaa;margin-left: 1em;"></span>
    <span class="fa fa-qq fa-1x" style="color:#aaa;margin-left: 1em;"></span>
    <span class="fa fa-weixin fa-1x" style="color:#aaa;margin-left: 1em;"></span>
    <span class="fa fa-weibo fa-1x" style="color:#aaa;margin-left: 1em;"></span>
    </span>
</div>