<div class="col-md-1" style="background: transparent;height: 100%;padding: 0;">
    <!-- <p class="col-md-12" style="height:4em;line-height:4em;color:#fff;background:rgb(74, 74, 74);text-align:center;font-weight:bolder;margin:0;padding:0;">概览</p>
    <ul class="col-md-12" style="display: inline-block;padding: 0;margin:0;">
      <a href="/dashboard"><li id="left-nav"><span class="glyphicon glyphicon-dashboard"></span> &nbsp;&nbsp;批量发布</li></a>
    </ul> -->
  <!-- <p class="col-md-12 uk-primary" style="height:5%;line-height:4em;color:#fff;text-align:center;font-weight:bolder;margin:0;padding:0;">DEVOPS</p> -->
  
  <ul class="col-md-12" style="display: inline-block;margin:0;padding:0;padding-left:1em;">
      <a href="/dashboard"><li id="left-l-nav" style="color:#888;"></li></a>
      <li id="left-l-nav" uk-toggle="target: #toggle-java"><span class="glyphicon glyphicon-user"></span>&nbsp;个人中心 <span style="float:right;font-size:0.5em;margin-top:1em;" class="glyphicon glyphicon-menu-down"></span></li>
      <ul id="toggle-java" style="padding:0;margin:0;">
          <a href="/profile"><li id="left-nav">个人信息</li></a>
          <a href="/profile"><li id="left-nav">退出登录</li></a>
      </ul>
  </ul>
</div>
